body {
  height: 100vh;
  background-color: #273c75;
  font-family: 'Courier New', Courier, monospace;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-align: center;
  margin: 0;
}

body h1 {
  margin: 0;
  position: absolute;
  top: 1%;
}

.form-wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  position: relative;
}

.label-input {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 0.5rem;
}

.file {
  align-items: center;
}

.action-button {
  position: absolute;
  bottom: -150%;
  height: 3rem;
  width: 10rem;
}
